
header {
    justify-content: space-between;
}

.test {
    margin-top: 30px;
    justify-content: center;
}

.test > ul > li {
    margin-right: 35px;
    font-size: x-small;
}

.myshop {
    margin-top: 30px;
    font-size: x-small;
}

i {
    margin-left: 5px;
    justify-content: center;
}

.breadcrumb {
  text-align: center;
  font-size: x-small;
  justify-content: center;
}

ul.breadcrumb li+li:before {
    padding: 3px;
    color: black;
    content: "/\00a0";
}

.caracteristics{
    margin: 40px 120px 20px;

}


.caracteristics > div > div {
    width: 35%;
    font-size: small;
    text-align: center;
    display: inline-block;
  }

.img1 {
    float: left;
}

.caracteristics::after {
    clear: both;
    display: table;
} 

.un {
    background-color:rgb(202, 200, 200);
    padding: 15px;
    width:100%;
    text-align: center;
    justify-content: center;
    height: 46px;
    border: 2px solid whitesmoke;
}

.plus, .moins {
    background-color:rgb(202, 200, 200);
    /* padding: 15px; */
    width: 50%;
    /* height: 10px; */
    text-align: center;
    border: 2px solid whitesmoke;
}

.count {
    padding-left: 132px;
}

.add {
    height: 46px;
    padding-top: 12px;
    background-color: black;
    color: cornsilk;

}


