
article {
    width: 70%;
    margin: auto;
    background-color: white;
}

header {
    justify-content: space-between;
}

.test {
    margin-top: 30px;
    justify-content: center;
}

.test > ul > li {
    margin-right: 35px;
    font-size: x-small;
}

.myshop {
    margin-top: 30px;
    font-size: x-small;
}

i {
    margin-left: 5px;
    justify-content: center;
}

section {
    height: 100%;
    background-color:whitesmoke;
}

h1 {
    text-align: center;
    padding-top: 60px;
}

table {
    width: 60%;
    margin: auto;
    background-color:white;
    padding: 75px 50px 5px;
    border-collapse:unset;
    margin-top: 60px;
}

th, td {
    border-bottom: 1px solid gray;

}

.product > td p {
    width: 120px;
    height: 100px;
    display: inline-block;
    vertical-align: top;
}

.product > td > p > img {
    width: 100px;
    height: 100px; 
}

.un {
    background-color:brown;
    padding: 15px;
    width:100%;
    text-align: center;
    justify-content: center;
    height: 57px;
    border: 2px solid whitesmoke;
}

.plus, .moins {
    background-color:cadetblue;
    /* padding: 15px; */
    width: 50%;
    /* height: 10px; */
    text-align: center;
    border: 2px solid whitesmoke;
}

.icon {
    justify-content: end;
}



