
header {
    justify-content: space-between;
}

.test {
    margin-top: 30px;
    justify-content: center;
}

.test > ul > li {
    margin-right: 35px;
    font-size: x-small;
}

.myshop {
    margin-top: 30px;
    font-size: x-small;
}

i {
    margin-left: 5px;
    justify-content: center;
}

.banner {
    height: 240px;
    background-image: url(./storefront/media/plates-header.jpg);
    background-size: cover;
    background-position: center;
}

.banner > div {
    height: 240px;
    width: 55%;
    margin: auto;
    padding-top: 60px;
    background-color: #393935;
    color: white;
    border-left: solid 10px white;
    border-right: solid 10px white;
}

.banner > div > h2 {
    text-align: center;
}

hr {
    width: 20%;
    margin: auto;
}

.banner > div > p {
    margin: 20px;
    font-size: smaller;
}

/* .grid {
    width: 80%;
    height: 100px;
    margin-top: 40px;
}

.row > div > p, .row > div > h6 {
    text-align: center;

}

.row > div > h6 {
    font-size: smaller;
}

.row > div > p {
    font-size: x-small ;
    color:lightslategrey;

}
 */

.wrapper
 {
     display: grid;
     grid-template-columns: 220px 220px 220px;   
     grid-column-gap: 20px;
     margin: auto;
     width: 640px;
 }
 
.wrapper article
 {
     width: 200px;
     margin-top: 50px;
     text-align: center;
 }
 
.wrapper article img
 {
     width: 100%;
     height: 200px;
     object-fit: cover;
 }

.modele
{
    font-weight: bold;
}

article > p {
    font-size:x-small;
    margin-top: 15px;
}